<div class="container-fluid">
  <div class="success-container">
    <figure class="avatar-section">
      <img
        class="img-fluid"
        id="avatar"
        src="assets/avatar.png"
        alt="Portrait of Julie"
      />
    </figure>
    <div class="form-headline text-center">
      <h1>Email sent successfully!</h1>
    </div>
    <div class="spinner">
      <mat-progress-spinner
        mode="indeterminate"
        color="accent"
        [diameter]="50"
      ></mat-progress-spinner>
    </div>
  </div>
</div>
