<footer>
  <div class="footer-content">
    <div class="logo">
      <img
        class="img-fluid"
        id="jw-white-logo"
        src="assets/jw-white.png"
        alt="Julie Westman logo"
      />
    </div>
    <div class="footer-text">
      Handcrafted by me <span class="copyright">&copy;</span> 2023
    </div>

    <div class="social-icons">
      <a
        href="https://www.linkedin.com/in/juliewestman/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="img-fluid"
          id="linkedin-icon"
          src="assets/linkedin.png"
          alt="Julie Westman Linkedin link"
        />
      </a>
      <a href="/email">
        <img
          class="img-fluid"
          id="email-icon"
          src="assets/email.png"
          alt="Julie Westman Email link"
        />
      </a>
    </div>
  </div>
</footer>
