<main class="container-fluid">
  <div class="header-container">
    <button class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
    <img
      class="img-fluid"
      id="details-header-logo"
      src="assets/fido_logo.png"
      alt="fidelity logo"
    />
  </div>
  <div class="content-container">
    <div class="project-title mt-5">
      <h5>Wealth Central Investment Platform at Fidelity Investments</h5>
    </div>
    <div class="project-sub-title mb-3">
      <p>
        Transforming Wealth Central into Wealthscape with innovative advisory
        features. Here's how we made a difference:
      </p>
    </div>
    <div class="project-body1">
      <div class="image-title mt-5 mb-2">
        <h6>UX Redesign & Strategic Web Refresh</h6>
      </div>
      <div class="image-subtitle mt-5 mb-2">
        <p class="subtitle">Today's Wealthscape (Live)</p>
      </div>
      <img
        class="img-fluid"
        id="workflow-diagram"
        src="assets/wealthscape.png"
        alt="workflow diagram"
      />
    </div>
    <div class="project-body2 mt-5">
      <div class="image-subtitle mt-5 mb-2">
        <p class="subtitle">WealthCentral - The App on iPad</p>
      </div>
      <img
        class="img-fluid"
        id="workflow-diagram"
        src="assets/wc-1.png"
        alt="workflow diagram"
      />
      <img
        class="img-fluid mt-3"
        id="workflow-diagram"
        src="assets/wc-2.png"
        alt="workflow diagram"
      />
      <img
        class="img-fluid mt-3 mb-2"
        id="workflow-diagram"
        src="assets/wc-3.png"
        alt="workflow diagram"
      />
    </div>
    <div class="project-body3">
      <div class="image-subtitle mt-5 mb-2">
        <p class="subtitle">
          Wireframes - Responsive Web Refresh: List and Detail Pages
        </p>
      </div>
      <p class="dark-text mt-3 mb-5">
        At Fidelity, as the <strong>UX Lead</strong> for Wealth Central, I
        championed the platform's evolution through a
        <strong>strategic Web Refresh</strong>, significantly enhancing its
        <strong>design and usability</strong>.<br /><br />
        This journey involved a <strong>user-centered design process</strong>,
        grounded in
        <strong>iterative testing and continuous refinement</strong>, focused on
        optimizing the <strong>user interface</strong> and enriching
        <strong>functionality</strong>.<br /><br />
        The outcome was a suite of
        <strong>sophisticated desktop and mobile applications</strong>,
        characterized by their <strong>intuitive user experience</strong>,
        leading to increased user engagement and satisfaction, and solidifying
        Fidelity's position as a <strong>fintech industry leader</strong>.
      </p>
      <img
        class="img-fluid"
        id="workflow-diagram"
        src="assets/notes-1.png"
        alt="workflow diagram"
      />
      <img
        class="img-fluid mt-5 mb-3"
        id="workflow-diagram"
        src="assets/notes-2.png"
        alt="workflow diagram"
      />
    </div>
    <div class="project-body4">
      <div class="image-subtitle mt-5 mb-2">
        <p class="subtitle">Comp - Login for Desktop</p>
      </div>

      <img
        class="img-fluid mb-3"
        id="workflow-diagram"
        src="assets/login.png"
        alt="workflow diagram"
      />
    </div>

    <div class="project-body5">
      <div class="image-subtitle mt-5 mb-2">
        <p class="subtitle">Wireframes - Early Sketches</p>
      </div>

      <img
        class="img-fluid mb-3"
        id="workflow-diagram"
        src="assets/sketch-1.png"
        alt="workflow diagram"
      />
      <img
        class="img-fluid mb-3"
        id="workflow-diagram"
        src="assets/sketch-2.png"
        alt="workflow diagram"
      />
    </div>
    <div class="back-up">
      <a href="javascript:void(0)" (click)="scrollToTop()">Back Up</a>
    </div>   
  </div>
  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        In compliance with my non-disclosure agreement, I've removed and
        disguised confidential data from this case study. The views expressed
        here are solely mine and may not represent those of Fidelity
        Investments.
      </p>
    </div>
  </div>
</main>
