<main class="container-fluid">
  <div class="header-container">
    <button class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
    <img
      class="img-fluid"
      id="details-header-logo"
      src="assets/bofa_logo.png"
      alt="bofa logo"
    />
  </div>
  <div class="content-container">
    <div class="project-title mt-5">
      <h5>Advantage Checking Enhanced</h5>
    </div>
    <div class="project-sub-title mb-3">
      <p>
        Showcasing strategic innovation with Advantage Checking Enhanced at Bank
        of America. Here's how we made a difference:
      </p>
    </div>
    <div class="project-detail-one">
      <div class="image-title mt-5 mb-2">
        <h6>UX Redesign & Messaging Strategy</h6>
      </div>
      <div class="project-body1">
        <p>
          As <strong>UX Lead</strong>, I worked closely with
          <strong>content strategy</strong> to deliver a
          <strong>comprehensive UX redesign</strong> and
          <strong>targeted messaging</strong> for the Advantage Checking
          Enhanced program, implemented across both
          <strong>web and native platforms</strong>.<br /><br />
          This initiative led to the launch of
          <strong>SafeBalance Banking®, Advantage Plus</strong>, and
          <strong>Advantage Relationship</strong>, exemplifying our commitment
          to <strong>user-centric design</strong> and
          <strong>seamless communication</strong>. Explore the live
          implementation here:
          <a
            href="https://www.bankofamerica.com/deposits/checking/advantage-banking/"
            target="_blank"
            >Bank of America Advantage Banking</a
          >
        </p>

        <div class="image-container">
          <a
            href="https://www.bankofamerica.com/deposits/checking/advantage-banking/"
          >
            <img
              class="img-fluid text-center"
              id="balance-diagram"
              src="assets/balance.png"
              alt="balance diagram"
            />
          </a>
        </div>
      </div>
      <div class="image-container">
        <a
          href="https://www.bankofamerica.com/deposits/checking/advantage-banking/"
        >
          <img
            class="img-fluid text-center"
            id="messaging-diagram"
            src="assets/messaging.png"
            alt="balance diagram"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        In compliance with my non-disclosure agreement, I've removed and
        disguised confidential data from this case study. The views expressed
        here are solely mine and may not represent those of Bank of America.
      </p>
    </div>
  </div>
</main>
