<div class="navbar">
  <div class="logo">
    <a class="navbar-brand" href="#">
      <img src="assets/jw-mark.png" alt="JW" />
    </a>
  </div>
  <div class="right-section">
    <a href="/recent-projects" class="text-link"
      >Recent Projects</a
    >
    <a
      routerLink="/email"
      class="btn btn-outline-primary"
      id="connect-button"
      role="button"
      *ngIf="!isEmailPage"
    >
      Say Hello</a
    >
    <mat-icon class="menu-icon" *ngIf="!isModalOpen" (click)="toggleModal()"
      >menu</mat-icon
    >
    <mat-icon class="menu-icon" *ngIf="isModalOpen" (click)="toggleModal()"
      >close</mat-icon
    >
  </div>
</div>
