<div class="navbar">
  <div class="logo">
    <a class="navbar-brand" href="#">
      <img src="assets/jw-mark.png" alt="JW" />
    </a>
  </div>
  <div class="right-section">
    <mat-icon
      class="material-symbols-outlined large-icon"
      id="undo-icon"
      *ngIf="isEmailPage"
      (click)="onClearForm()"
      >undo</mat-icon
    >
    <mat-icon
      class="close-icon large-icon"
      *ngIf="isEmailPage"
      (click)="onCloseEmail()"
      >close</mat-icon
    >
    <a href="/recent-projects" class="text-link" *ngIf="!isEmailPage"
      >Recent Projects</a
    >
    <a
      routerLink="/email"
      class="btn btn-outline-primary"
      id="connect-button"
      role="button"
      *ngIf="!isEmailPage"
    >
      Say Hello</a
    >
    <mat-icon
      class="menu-icon"
      *ngIf="!isModalOpen && !isEmailPage"
      (click)="toggleModal()"
      >menu</mat-icon
    >
    <mat-icon
      class="menu-icon"
      *ngIf="isModalOpen && !isEmailPage"
      (click)="toggleModal()"
      >close</mat-icon
    >
  </div>
</div>
