.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
}
.btn-link {
  font-size: 20px;
  color: black;
}
.navbar-brand {
  margin-left: 25px;
}
.navbar-brand > img {
  height: 36px;
}
.right-section {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.date-time {
  padding-right: 25px;
}

.navbar-middle-content {
  display: flex;
  align-items: center; /* this vertically aligns items within the middle-content */
  margin-right: 25px; /* push the content closer to the 'Let's Connect' button */
}

.navbar-middle-content > * {
  margin-right: 8px; /* reduce the space between the items */
}

.navbar-middle-content > *:last-child {
  margin-right: 0; /* remove margin from the last item */
}
.navbar-middle-content .btn-link {
  margin-right: -4px; /* adjust this value to your liking */
}

.navbar-middle-content .btn-link:last-child {
  margin-right: 0; /* ensure the last button doesn't have extra margin on its right */
}
@media (max-width: 800px) {
  .right-section {
    display: none;
  }
  .navbar-brand {
    display: block;
    margin: 0 auto; /* Center the navbar-brand horizontally */
  }
}
