<nav class="navbar">
  <a class="navbar-brand" href="#">
    <img src="assets/jw-mark.png" alt="JW" />
  </a>

  <div class="right-section">
    <div class="navbar-middle-content">
      <div class="date-time">
        <span>{{ currentDate | date : "short" }}</span>
      </div>
      <div class="date-time">
        <span>|</span>
      </div>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/juliewestman/" class="btn btn-link"
          ><i class="bi bi-linkedin"></i
        ></a>
        <a href="https://github.com/jwwestman/" class="btn btn-link"
          ><i class="bi bi-github"></i
        ></a>
        <a href="https://www.instagram.com/jwilderwest/" class="btn btn-link"
          ><i class="bi bi-instagram"></i
        ></a>
      </div>
    </div>

    <button
      type="button"
      id="connect-button"
      class="btn btn btn-outline-dark"
      (click)="onButtonClick()"
    >
      Let's Connect
    </button>
  </div>
</nav>
