<main class="container-fluid">
  <div class="hero-container">
    <div class="hero-image">
      <img
        class="img-fluid"
        id="recent-projects-hero"
        src="assets/recent-projects-hero.png"
        alt="Tech worker pointing to display"
      />
    </div>
    <div class="recent-projects-headline"><h4>UX Portfolio</h4></div>
    <div class="recent-projects-sub-headline text-center">
      <p>
        Welcome to my portfolio! To explore each project in depth, click the
        '<strong>See More</strong>' button on each page. Should you
        need access to protected work, a passcode can be provided upon request.
        For my complete work history, download my resume
        <a
          href="/assets/resume.pdf"
          style="text-decoration: none; color: #2779f6"
          download="julie_westman_resume.pdf"
        >
          here.
        </a>
      </p>
    </div>
    <div class="mb-3">
      <select
        class="form-select custom-select"
        [(ngModel)]="selectedEmployerId"
      >
        <option *ngFor="let employer of employers" [ngValue]="employer.id">
          {{ employer.name }}
        </option>
      </select>
    </div>
    <ng-container [ngSwitch]="selectedEmployerId">
      <app-cvs-projects *ngSwitchCase="'cvs'"></app-cvs-projects>
      <app-aetna-projects *ngSwitchCase="'aetna'"></app-aetna-projects>
      <app-bofa-projects *ngSwitchCase="'bofa'"></app-bofa-projects>
      <app-fidelity-projects *ngSwitchCase="'fido'"></app-fidelity-projects>
      <app-ivest-projects *ngSwitchCase="'ivest'"></app-ivest-projects>
    </ng-container>
  </div>
</main>
