<main class="container-fluid">
  <div class="header-container">
    <div class="company-content">
      <div class="company-title"><h5>iVest</h5></div>
      <div class="company-sub-title">
        <p class="white-text">
          As an Independent Consultant, I developed the iVest Mobile App MVP for
          mobile web, focusing on portfolio management and market insights. This
          project highlighted my Figma skills and my ability to craft
          user-centric fintech solutions.
        </p>
      </div>
    </div>
  </div>
  <!-- Project 1 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h6>
          Innovating Fintech Design: Advancing Investment Strategies with Smart
          Solutions
        </h6>
      </div>
      <div class="project-sub-title">
        <p>Designing for Smarter Portfolio Management and Market Insights</p>
      </div>
      <div class="project-image text-center">
        <img
          class="img-fluid"
          id="first-image"
          src="assets/ivest.png"
          alt="Investment Mobile App Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          I provided advanced tools for portfolio building, trading, and market
          analysis in iVest, blending user needs with innovative fintech design.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          Using Figma, I integrated user-centric principles with practical
          features, creating an intuitive interface for trading and market
          research.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          The iVest App MVP is a user-friendly, high-fidelity prototype for
          investment and market research, showcasing my expertise in Figma and
          intuitive design as an Independent Design Consultant.
        </p>
        <br />
        <p>
          <a
            href="https://www.figma.com/proto/Xr2b2kwoUE3CGUNTKnSXrO/ivest-12-14?node-id=92-667&starting-point-node-id=92%3A667&t=dz7QlyfPjoWcK8lQ-1"
            target="_blank"
            rel="noopener noreferrer"
            class="no-link-style"
            ><strong
              >iVest: An Interactive Figma Prototype Exploration.</strong
            ></a
          >
        </p>
        <br /><br />
        <p>
          Note: iVest is a conceptual, fictional project, designed exclusively
          for mobile web to demonstrate my design capabilities in the fintech
          sector.
        </p>
      </div>
    </div>
  </div>

  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        Per my non-disclosure agreement, confidential details in this case study
        have been altered. iVest is a fictional design project, showcasing my
        application of best practices in a unique context. All opinions and
        designs are solely my own.
      </p>
    </div>
  </div>
</main>
