<main class="container-fluid">
  <div class="header-container">
    <button class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
    <img
      class="img-fluid"
      id="details-header-logo"
      src="assets/cvs_logo.png"
      alt="cvs logo"
    />
  </div>
  <div class="content-container">
    <div class="project-title mt-5">
      <h5>Journey Map Template Redesign</h5>
    </div>
    <div class="project-sub-title mb-3">
      <p>
        Empowering Care Management and Healthcare Initiatives: Highlighting our
        strategic innovation at CVS Health. Here’s how we made a difference:
      </p>
    </div>
    <div class="project-detail-one">
      <div class="image-title mt-5 mb-2">
        <h6>Journey Map Workshop Drill: Enhanced Learning</h6>
      </div>
      <img
        class="img-fluid"
        id="workflow-diagram"
        src="assets/rainbow.png"
        alt="measure success"
      />
      <img
        class="img-fluid mt-3"
        id="workflow-diagram"
        src="assets/daily-tasks.png"
        alt="daily tasks"
      />
      <div class="project-body1">
        <p>
          In my leadership role at CVS Health, I steered the evolution of our
          <strong>journey map workshops</strong>, developing templates from
          <strong>mid to high-fidelity with storyboards</strong>.<br /><br />
          This initiative, enriched by data from stakeholders and caregiver
          teams, not only <strong>enhanced customer engagement</strong> but also
          provided <strong>crucial analytics</strong> for assessing the
          <strong>success and clarity</strong> of our healthcare projects.
        </p>
      </div>
    </div>
    <div class="project-body2">
      <div class="image-title mt-5 mb-2">
        <h6>Best Practice UX Frameworks: Workshop Insights</h6>
      </div>
      <img
        class="img-fluid"
        id="workflow-diagram"
        src="assets/workshop.png"
        alt="workshop diagram"
      />
      <div class="project-body">
        <p>
          In our workshops, we referenced
          <strong>top UX frameworks like Google's</strong>, offering
          participants a broad view of best practices.<br /><br />

          This <strong>enriched our Journey Map template</strong>, ensuring it
          was both
          <strong>functional and aligned with leading UX strategies</strong>.
        </p>
      </div>
    </div>
    <div class="back-up mt-3">
      <a href="javascript:void(0)" (click)="scrollToTop()">To Top</a>
    </div>
  </div>

  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        In compliance with my non-disclosure agreement, I've removed and
        disguised confidential data from this case study. The views expressed
        here are solely mine and may not represent those of CVS Health.
      </p>
    </div>
  </div>
</main>
