.border-line {
  height: 1px;
  background-color: #636e72;
}
.hero-section {
  background-color: white;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 20px;
}

.container-fluid {
  background-color: white;
}
#avatar {
  margin-top: 20px;
  width: 100%;
  max-width: 200px;
}
#tech-image {
  width: 800px;
  height: auto;
}
.greeting-section {
  max-width: 1000px;
  padding: 35px;
  color: black;
  margin-left: auto;
  margin-right: auto;
}
.work-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d2dae2;
  padding-bottom: 60px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

mat-expansion-panel {
  background-color: white;
  width: 900px;
  /* margin-bottom: 1px; */
}

.title {
  margin-top: 80px;
}

.social-icons i {
  color: #000;
  font-size: 24px;
}
.social-icons .btn-link:hover .bi-linkedin {
  color: #8395a7;
}

.social-icons .btn-link {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -5px;
}
#connect-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.link {
  margin-left: 20px;
}

.text-container {
  margin-top: 20px;
  text-align: left;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  height: 60px;
}
.project-title {
  color: black;
  text-align: left;
}
.footer {
  height: 40px;
  background-color: black;
}

@media (max-width: 800px) {
  .hero-section {
    height: 60vh;
    padding: 25px;
  }
  .project-title {
    text-align: center;
  }
  .project-container {
    margin-top: 0px;
  }
  .img-fluid {
    width: 100vw;
  }
  #avatar {
    max-width: 200px;
  }
  mat-expansion-panel {
    width: 95vw;
  }
}

@media (max-width: 500px) {
  .hero-section {
    height: 70vh;
    padding: 25px;
  }
  #mobile-connect-button {
    max-width: fit-content; /* Make the button as wide as its content */
    margin-left: auto; /* Center the button */
    margin-right: auto;
    margin-top: 20px;
  }
}
@media (min-width: 501px) {
  #mobile-connect-button {
    display: none;
  }
}
