<div class="container-fluid">
  <div class="hero-section row">
    <div class="hero-container">
      <div class="hero-header">
        <h1 class="title-section text-center mb-2">{{ headerText }}</h1>

        <div class="bio-text text-center">
          <p>{{ bioText }}</p>
        </div>
      </div>

      <div class="avatar-section">
        <img
          class="img-fluid"
          id="avatar"
          src="assets/avatar.png"
          alt="Responsive image"
        />
      </div>

      <div class="image-section">
        <img
          class="img-fluid"
          id="tech-image"
          src="assets/tech-image.png"
          alt="Responsive image"
        />
      </div>
      <div class="mobile-contact-section">
        <div class="social-icons">
          <a
            href="https://www.linkedin.com/in/juliewestman/"
            class="btn btn-link"
            ><i class="bi bi-linkedin"></i
          ></a>
        </div>
        <button
          type="button"
          id="connect-button"
          class="btn btn btn-outline-dark"
          (click)="onButtonClick()"
        >
          Let's Connect
        </button>
      </div>
    </div>
  </div>

  <div class="work-section text-center">
    <div class="greeting-section">
      <h1 class="greeting-title">
        <span class="hand material-icons-outlined"> waving_hand </span
        >{{ greetingText }}
      </h1>
      <p class="greeting-text">
        I'm an experienced UX professional with a diverse background spanning
        Healthcare, Finance, Retail, and more. Known for my collaborative
        nature, design skills, and technical expertise, I excel in leadership
        and strategy. Beyond work, I'm passionate about design, sports like
        tennis and sailing, and savoring life's finest moments with our
        Goldendoodles Coco and Chanel. 🎾⛵🍷🔥
      </p>
    </div>

    <div class="recent-work-title mb-3">
      <h2 class="project-title">Recent Work Experience:</h2>
    </div>
    <div class="project-section">
      <mat-accordion>
        <!-- Expansion Panel #1 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <p class="accordion-title">CVS Health</p>
          </mat-expansion-panel-header>
          <img
            class="img-fluid mb-3"
            id="tech-image"
            src="assets/cvs.png"
            alt="Responsive image"
          />
          <div class="accordion-text-area p-5">
            <p class="accordion-text">
              <strong
                >Kiosk PreCheck-in Experience, Revolutionizing Patient
                Check-Ins:</strong
              >
              Explore how, as CVS Health's UX Lead, I harnessed Android tablets
              and QR codes to transform the kiosk pre-check-in experience,
              prioritizing patient satisfaction and streamlined healthcare
              processes. <a href="/cvs">More ...</a><br /><br />
            </p>
            <p class="accordion-text">
              <strong
                >Journey Map Workshop Template Design, Revolutionizing
                Healthcare Management:</strong
              >
              Learn how I spearheaded the creation of a game-changing Journey
              Map Workshop Template at CVS Health, optimizing executive strategy
              sessions and capturing invaluable care management insights.
              <a href="/cvs">More ...</a>
            </p>
          </div>
        </mat-expansion-panel>

        <!-- Expansion Panel #2 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <p class="accordion-title">Aetna</p>
          </mat-expansion-panel-header>
          <img
            class="img-fluid mb-3"
            id="tech-image"
            src="assets/aetna.png"
            alt="Responsive image"
          />
          <div class="accordion-text-area p-5">
            <p class="accordion-text">
              <strong
                >Google Search Maps Integration at Plan Level, Unlocking
                Healthcare Access:</strong
              >
              See how I, as the UX Lead at Aetna Behavioral Health, am driving
              an innovative map-centric web prototype that simplifies finding
              top healthcare providers. Through seamless Google Search API
              integration and unique pin icons, we prioritize user-centric
              excellence.
              <a href="/aetna">More ...</a><br /><br />
            </p>
            <p class="accordion-text">
              <strong
                >Rewards Center Improvement for Web, Revolutionizing
                Rewards:</strong
              >
              Discover how we at Aetna Behavioral Health embarked on an
              initiative to enhance our rewards program. By integrating unique
              fitness merchandise and highlighting a key brand, we introduced
              novel features like a dynamic merchandise tile and innovative
              checkout entry.
              <a href="/aetna">Read more ...</a>
            </p>
          </div>
        </mat-expansion-panel>
        <!-- Expansion Panel #3 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <p class="accordion-title">Bank of America</p>
          </mat-expansion-panel-header>
          <img
            class="img-fluid mb-3"
            id="tech-image"
            src="assets/bofa.png"
            alt="Responsive image"
          />
          <div class="accordion-text-area p-5">
            <p class="accordion-text">
              <strong
                >BankAmeriDeals Seamless User Experience, Revolutionizing
                BankAmeriDeals at Bank of America:</strong
              >
              See how we merged responsive design with gamification for
              unmatched adaptability. Dive into a project that, though not fully
              produced, paved the way for our future innovations.
              <a href="/bofa">More ...</a><br /><br />
            </p>
            <p class="accordion-text">
              <strong
                >Bank of America Next-Gen Workforce Portal, Elevating Bank of
                America's recruitment game:</strong
              >
              Discover how I transformed our internal hiring experience with a
              bespoke Workforce Management Portal.
              <a href="/bofa">More ...</a><br /><br />
            </p>
            <p class="accordion-text">
              <strong
                >Bank of America Advantage Banking, Explore the next-gen user
                experience with Bank of America's Advantage Banking:</strong
              >
              See how we bridged innovation and functionality to serve diverse
              banking needs on every platform.
              <a href="/bofa">More ...</a>
            </p>
          </div>
        </mat-expansion-panel>
        <!-- Expansion Panel #4 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <p class="accordion-title">Fidelity</p>
          </mat-expansion-panel-header>
          <img
            class="img-fluid mb-3"
            id="tech-image"
            src="assets/fidelity.png"
            alt="Responsive image"
          />
          <div class="accordion-text-area p-3">
            <p class="accordion-text">
              <strong
                >Fidelity Wealth Central, Unlocking the Potential of Wealth
                Central:</strong
              >
              Delve into the management of an innovative brokerage technology
              platform for Registered Advisors.
              <a href="/fidelity">More ...</a><br /><br />
            </p>
            <p class="accordion-text">
              <strong>Fidelity Wealth Central, Web Responsive Refresh:</strong> Dive into the
              evolution of Wealth Central, exploring the refreshed and
              responsive design tailored for Fidelity's Financial Advisor
              applications.
              <a href="/fidelity">More ...</a>
            </p>
          </div>
        </mat-expansion-panel>
        <!-- Expansion Panel #5 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <p class="accordion-title">Project 5</p>
          </mat-expansion-panel-header>
          <p class="accordion-text">
            project 5 content goes here
            <a href="/testproject">Read more ...</a>
          </p>
        </mat-expansion-panel>
        <!-- Expansion Panel #6 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <p class="accordion-title">Project 6</p>
          </mat-expansion-panel-header>
          <p class="accordion-text">
            project 6 content goes here
            <a href="/testproject2">Read more ...</a>
          </p>
        </mat-expansion-panel>
        <!-- expansion panels end -->

        <!-- Modal -->
        <div
          class="modal fade"
          id="connectModal"
          tabindex="-1"
          aria-labelledby="connectModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="connectModalLabel">
                  ✉️ Contact form:
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <app-contact></app-contact>
              </div>
            </div>
          </div>
        </div>
      </mat-accordion>
    </div>
  </div>
</div>
