.border-line {
  height: 1px;
  background-color: #636e72;
}
body {
  margin: 0;
}
html {
  padding: 0;
}
.container-fluid {
  background-color: white;
  padding: 0;
}

.hero-section {
  background-color: white;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#avatar {
  margin-top: 20px;
  width: 100%;
  max-width: 200px;
}
#tech-image {
  width: 800px;
  height: auto;
}
.greeting-section {
  max-width: 1000px;
  padding: 35px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.recent-work-title {
  color: white;
}
.work-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #353b48;
  padding-bottom: 60px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

mat-expansion-panel {
  background-color: white;
  width: 900px;
}

.title {
  margin-top: 80px;
}

.social-icons i {
  color: #000;
  font-size: 24px;
}

.footer {
  height: 100px;
  background-color: black;
}
@media (max-width: 1000px) {
  .work-section {
    background-color: red;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
  mat-expansion-panel {
    background-color: white;
    width: 90vw;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .hero-section {
    background-color: white;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }

  .img-fluid {
    width: 100vw;
  }
  #avatar {
    margin-top: 0px;
    width: 100%;
    max-width: 150px;
  }
  mat-expansion-panel {
    background-color: white;
    width: 90vw;
    margin: 0 auto;
  }
  .greeting-section {
    margin-top: 10px;
    padding: 5px;
  }
}

@media (max-width: 500px) {
  .hero-section {
    height: 60vh;
    padding: 5px;
    margin-top: 5px;
  }
  mat-expansion-panel {
    background-color: white;
    width: 90vw;
    margin: 0 auto;
  }
}
