<main class="container-fluid">
  <header class="hero-section row">
    <div class="hero-container">
      <h1 class="title-section text-center">
        Designer, UX Leader & Tech Liaison
      </h1>
      <p class="sub-title">
        I design and craft beautifully simple things, and I love what I do.
      </p>

      <figure class="avatar-section">
        <img
          class="img-fluid"
          id="avatar"
          src="assets/avatar.png"
          alt="Portrait of Julie"
        />
      </figure>

      <figure class="image-section">
        <img
          class="img-fluid"
          id="tech-image"
          src="assets/hero-image.png"
          alt="tech workers"
        />
      </figure>
    </div>
  </header>

  <section class="work-section text-center">
    <div class="greeting-section">
      <h1 class="greeting-title">
        <mat-icon class="hand">waving_hand</mat-icon>
        Hi! I'm Julie, nice to meet you!
      </h1>
      <p class="greeting-text">
        I'm a seasoned UX expert, spearheading user-centric designs across
        sectors like Healthcare, Finance, and Retail. Renowned for my teamwork,
        mobile solutions, and strategic vision. Off-screen, I enjoy tennis,
        sailing, and time with my Goldendoodles, Coco and Chanel. 🎾⛵🍷🔥
      </p>
    </div>
  </section>
  <div class="design-container-main-desktop">
    <div class="skills-container row">
      <div class="column">
        <img
          class="img-fluid"
          id="tech-image"
          src="assets/designer.png"
          alt="designer illustration"
        />
        <div class="top">
          <h4 class="skill-title text-center mt-3">Designer</h4>

          <p class="skill-text text-center">
            I'm passionate about creating smooth and visually appealing designs
            for websites, apps, and online platforms that users love.
          </p>
        </div>
        <div class="middle">
          <h4 class="skill-subtitle text-center mt-3">
            Things I enjoy designing:
          </h4>
          <p class="skill-text text-center">
            Interfaces, Websites, PWAs (Progressive Web Apps), Apps, Portals,
            Ecosystems
          </p>
        </div>
        <div>
          <p class="skill-subtitle text-center">Design Tools:</p>
          <p class="vertical-text text-center">
            <span>Figma</span>
            <span>Font Awesome</span>
            <span>Pen & Paper</span>
            <span>Sketch</span>
            <span>FigJam</span>
            <span>Miro</span>
          </p>
        </div>
      </div>

      <div class="column">
        <img
          class="img-fluid"
          id="tech-image"
          src="assets/leader.png"
          alt="designer illustration"
        />
        <div class="top">
          <h4 class="skill-title text-center mt-3">UX Leader</h4>
          <p class="skill-text text-center">
            I guide and inspire teams to transform ideas into impactful digital
            experiences.
          </p>
        </div>
        <div class="middle">
          <h4 class="skill-subtitle text-center mt-3">
            Championing Empowered Design:
          </h4>
          <p class="skill-text text-center">
            Advocating User Empathy, Mentoring Creativity, Fostering Innovation,
            Championing Usability
          </p>
        </div>
        <div>
          <p class="skill-subtitle text-center">Leadership Tools:</p>
          <p class="vertical-text text-center">
            <span>Design Thinking</span>
            <span>Agile Methodologies</span>
            <span>User Journey Mapping</span>
            <span>A/B Testing</span>
          </p>
        </div>
      </div>
      <div class="column">
        <img
          class="img-fluid"
          id="tech-image"
          src="assets/liaison.png"
          alt="designer illustration"
        />
        <div class="top">
          <h4 class="skill-title text-center mt-3">Tech Liaison</h4>
          <p class="skill-text text-center">
            I am the pivotal link within scrum teams, harmonizing design,
            engineering, and product strategies to drive innovation and a
            user-first approach.
          </p>
        </div>
        <div class="middle">
          <h4 class="skill-subtitle text-center mt-3">
            A Methodology-Centric Approach:
          </h4>
          <p class="skill-text text-center">
            Scrum team integration, Cross-Functional Synergy, Cohesive Product
            Vision, Streamlined Innovation, User-Centric Solutions
          </p>
        </div>
        <div>
          <p class="skill-subtitle text-center">Liaison Tools:</p>
          <p class="vertical-text text-center">
            <span>JIRA/Confluence</span>
            <span>User Story Mapping</span>
            <span>Stakeholder Interviews</span>
            <span>Sprint Planning</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <aside>
    <!-- Modal -->
    <div
      class="modal fade"
      id="connectModal"
      tabindex="-1"
      aria-labelledby="connectModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="connectModalLabel">✉️ Contact form:</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body"></div>
        </div>
      </div>
    </div>
  </aside>
</main>
