body {
  margin: 0;
}
html {
  padding: 0;
}
.container-fluid {
  background-color: white;
  padding-left: 0;
  padding-right: 0;
}
.hero-section {
  background-color: white;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-bottom: 20px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 71.5vh;
}
.mobile-hero-header {
  display: none;
}
.mobile-contact-section {
  display: none;
}
#avatar {
  margin-top: 20px;
  width: 100%;
  max-width: 200px;
}
.hand {
  font-size: 32px;
  margin-right: 15px;
}
.title-section,
.bio-text {
  font-family: "Roboto Mono", monospace;
}
#tech-image {
  width: 800px;
  height: auto;
}
.greeting-section {
  max-width: 1000px;
  padding: 35px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.greeting-title {
  font-family: "Roboto Mono", monospace;
  margin-top: 80px;
}
.greeting-text {
  font-family: "Roboto Mono", monospace;
}
.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-title {
  font-family: "Roboto Mono", monospace;
  text-align: left;
}
.work-section {
  margin-left: 0;
  margin-right: 0;
}
.recent-work-title {
  color: white;
}
.work-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #747d8c;
  padding-bottom: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
mat-expansion-panel-header {
  display: flex;
  align-items: center;
  justify-content: start;
}

.accordion-title {
  margin: 0;
}

mat-expansion-panel {
  background-color: white;
  width: 900px;
}
mat-expansion-panel-header {
  font-family: "Roboto Mono", monospace;
}
.accordion-text {
  font-family: "Roboto Mono", monospace;
  text-align: left;
}
.title {
  margin-top: 80px;
}

.social-icons i {
  color: #000;
  font-size: 24px;
}

@media (max-width: 1000px) {
  .work-section {
    background-color: #747d8c;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
  mat-expansion-panel {
    background-color: white;
    width: 90vw;
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  .mobile-contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 912px) {
  .hero-section {
    background-color: white;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }
  .hero-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
  }
  .work-section {
    background-color: #747d8c;
    width: 100%;
  }
  .image-section {
    display: none;
  }

  .img-fluid {
    width: 100vw;
  }
  #avatar {
    margin-top: 0px;
    width: 100%;
    max-width: 150px;
  }
  mat-expansion-panel {
    background-color: white;
    width: 90vw;
    margin: 0 auto;
  }
  .greeting-title {
    margin-top: 20px;
  }
  .greeting-text {
    margin-top: 15px;
    text-align: center;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .hero-section {
    height: 60vh;
    padding: 5px;
    margin-top: 5px;
  }

  mat-expansion-panel {
    background-color: white;
    width: 90vw;
    margin: 0 auto;
  }
}
@media (max-width: 470px) {
  mat-expansion-panel {
    background-color: white;
    width: 90vw;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  .hero-section {
    height: 50vh;
    padding: 5px;
    margin-top: 5px;
  }
  .image-section {
    display: none;
  }
  mat-expansion-panel {
    background-color: white;
    width: 90vw;
    margin: 0 auto;
  }

  .greeting-section {
    font-size: 0.9rem;
    padding: 10px;
    margin-bottom: 10px;
  }
  .greeting-text {
    margin-top: 20px;
    text-align: center;
    padding: 0px;
  }
}
