<main class="container-fluid">
  <div class="header-container">
    <button class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
    <img
      class="img-fluid"
      id="details-header-logo"
      src="assets/aetna_logo.png"
      alt="aetna logo"
    />
  </div>
  <div class="content-container">
    <div class="project-title mt-5">
      <h5>Google Maps Search Integration</h5>
    </div>
    <div class="project-sub-title mb-3">
      <p>
        Elevating Plan-Level Healthcare Navigation. Here's how we made a
        difference:
      </p>
    </div>
    <div class="project-body1">
      <div class="image-title mt-5 mb-2">
        <h6>
          Map-Centric Prototype: Blending UXR with modern map functionality.
        </h6>
      </div>
      <img
        class="img-fluid"
        id="workflow-diagram"
        src="assets/map-1.png"
        alt="map 1"
      />
      <div class="aetna-plug">
        <p class="dark-text mt-3 mb-5">
          At <strong>Aetna's Behavioral Health team</strong>, my role centered
          on
          <strong
            >maximizing the potential of the existing Google Search API</strong
          >
          to improve healthcare discovery at the plan level.<br /><br />
          Working alongside our <strong>engineering team</strong>, we
          established an <strong>MVP</strong> and continuously evolved the tool.
          This process was informed by the
          <strong
            >latest Google Search UI developments, UXR insights, and moderated
            pilot testing feedback</strong
          >.<br /><br />
          Our efforts resulted in a prototype that truly meets user needs,
          underlining our dedication to providing
          <strong>accessible, user-friendly healthcare solutions</strong>.
        </p>
      </div>
      <img
        class="img-fluid"
        id="workflow-diagram"
        src="assets/map-2.png"
        alt="map 2"
      />
      <img
        class="img-fluid"
        id="workflow-diagram"
        src="assets/map-3.png"
        alt="map 3"
      />
      <img
        class="img-fluid"
        id="workflow-diagram"
        src="assets/map-4.png"
        alt="map 4"
      />
    </div>
    <div class="project mt-5">
      <!-- <div class="image-title mt-5 mb-2">
        <h6>
          UXR & Best Practices, Discovery, Maps Functionality, and the current
          state
        </h6>
      </div> -->
    </div>
    <img
      class="img-fluid"
      id="workflow-diagram"
      src="assets/behavior-1.png"
      alt="behavioral health diagram"
    />
    <img
      class="img-fluid mt-3"
      id="workflow-diagram"
      src="assets/behavior-2.png"
      alt="behavioral health diagram"
    />
    <div class="back-up mt-3">
      <a href="javascript:void(0)" (click)="scrollToTop()">Back Up</a>
    </div>
  </div>

  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        In compliance with my non-disclosure agreement, I've removed and
        disguised confidential data from this case study. The views expressed
        here are solely mine and may not represent those of Aetna.
      </p>
    </div>
  </div>
</main>
