<main class="container-fluid">
  <div class="header-container">
    <div class="company-content">
      <div class="company-title"><h5>AETNA</h5></div>
      <div class="company-sub-title">
        <p class="white-text">
          At Aetna, my leadership role encompassed pivotal projects that
          improved the behavioral health user experience. This included
          developing a <strong>map-centric web prototype</strong> and executing
          a comprehensive <strong>rewards revamp</strong> with merchandise
          integration. These initiatives set new benchmarks for innovation and
          enhanced our members' overall journey.
        </p>
      </div>
    </div>
  </div>
  <!-- Project 1 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h6>Aetna - Google Search Map Integration</h6>
      </div>
      <div class="project-sub-title">
        <p>
          Collaborating with UX research to ensure best practices, I developed a
          Google Search API integrated prototype, enhancing healthcare access.
        </p>
      </div>
      <div class="project-image">
        <img
          class="img-fluid"
          id="first-image"
          src="assets/map.png"
          alt="Map Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          In my capacity as the UX Lead at Aetna Behavioral Health, I managed
          the creation of a map-centric web prototype, employing best practices
          to advance the user experience.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          Our main aim was to make it easier for our members, particularly in
          the behavioral health area, to find top healthcare providers
          efficiently, reflecting our commitment to cost-effective solutions for
          our customers.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          Using insights from user research and pilot testing, we designed a
          prototype that combines the Google Search API's functionality with
          custom pin icons and a map for easy navigation. This work demonstrates
          our focus on the unique needs of behavioral health users and the
          effectiveness of our team collaboration.
        </p>
        <div class="modal-link btn btn-primary" (click)="openDetailsModal()">
          See More
        </div>
      </div>
    </div>
  </div>
  <!-- Project 2 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h6>Aetna - Revamping Rewards Experience</h6>
      </div>
      <div class="project-sub-title">
        <p>
          Introducing Fitness Merchandise in Aetna's Rewards Program. Featuring
          a User-Friendly Checkout for Enhanced Engagement.
        </p>
      </div>
      <div class="project-image">
        <img
          class="img-fluid"
          id="second-image"
          src="assets/fitness.png"
          alt="Fitness App Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          As the UX Lead, I was entrusted with the challenge of seamlessly
          integrating merchandise into Aetna's rewards platform to enhance the
          rewards experience for targeted members.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          My journey began with fostering collaborative vision-crafting
          sessions, which laid the foundation for a redefined rewards homepage
          that resonated across various devices.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          One significant achievement included enhancements to the user journey,
          making the inaugural checkout process more streamlined and
          user-friendly. Additionally, preparations were made for potentially
          expanding the merchandise assortment in 2024, with a strong focus on
          user feedback and monitoring emerging market trends to ensure
          continued improvement.
        </p>
        <div class="modal-link btn btn-primary" (click)="openDetails2Modal()">
          See More
        </div>
      </div>
    </div>
  </div>
  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        In compliance with my non-disclosure agreement, I've removed and
        disguised confidential data from this case study. The views expressed
        here are solely mine and may not represent those of Aetna.
      </p>
    </div>
  </div>
</main>
