<main class="container-fluid">
  <div class="header-container">
    <div class="company-content">
      <div class="company-title"><h5>AETNA</h5></div>
      <div class="company-sub-title">
        <p class="white-text">
          At Aetna Behavioral Health, I spearheaded transformative initiatives:
          crafting a map-centric web prototype to redefine healthcare
          accessibility for members and integrating fitness merchandise into our
          rewards program, both aimed at enhancing the behavioral health user
          journey and setting a benchmark for future innovation.
        </p>
      </div>
    </div>
  </div>
  <!-- Project 1 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h6>Aetna - Google Search Maps</h6>
      </div>
      <div class="project-sub-title">
        <p>
          A cutting-edge prototype in its incubation phase, geared towards
          redefining healthcare accessibility by enabling members to
          effortlessly pinpoint top-tier healthcare providers.
        </p>
      </div>
      <div class="project-image">
        <img
          class="img-fluid"
          id="first-image"
          src="assets/map.png"
          alt="Map Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          As the UX Lead at Aetna Behavioral Health, I was at the forefront of
          this innovative map-centric web prototype design.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          Our core goal was to aid members, specifically within Aetna's
          behavioral health realm, in effortlessly locating premier healthcare
          professionals — a key cost-saving initiative for targeted customers.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          Leveraging the Google Search API and introducing specialized pin
          icons, we've been meticulously crafting an unparalleled user-centric
          experience.<br /><br />
          This project isn't merely about technological integration; it stands
          as a testament to our commitment to understanding and addressing the
          unique needs of behavioral health users, highlighting the power of
          cross-team collaboration. While still in its incubation, this
          prototype is set to revolutionize the landscape of healthcare
          accessibility and user satisfaction.
        </p>
      </div>
    </div>
  </div>
  <!-- Project 2 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h6>Aetna - Rewards Merchandise Strategy</h6>
      </div>
      <div class="project-sub-title">
        <p>
          An initiative designed to seamlessly weave fitness merchandise into
          the existing rewards ecosystem, setting the stage for future
          expansions and enhancing the user shopping journey.
        </p>
      </div>
      <div class="project-image">
        <img
          class="img-fluid"
          id="second-image"
          src="assets/fitness.png"
          alt="Fitness App Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          As the UX Lead, I was entrusted with the challenge of seamlessly
          integrating fitness merchandise into Aetna's rewards platform.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          My journey began with fostering collaborative vision-crafting sessions
          on the Miro Board, which paved the way for a redefined rewards
          homepage that resonated across mobile, tablet, and desktop interfaces.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          A key accomplishment was the revamp of the user journey, introducing a
          novel entry point that made the checkout process smoother and
          inherently intuitive. But this wasn't just about the immediate; I also
          laid the foundation for a broader merchandise assortment slated for
          2023, always keeping an ear to the ground for user feedback and
          emerging market trends.<br /><br />

          This project's breadth went beyond mere aesthetics, delving into both
          front-end user interactions and backend functionalities to ensure a
          harmonized and enriching shopping experience in the rewards arena.
        </p>
      </div>
    </div>
  </div>
  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        To comply with my non-disclosure agreement, I have omitted and
        obfuscated confidential information in this case study. All information
        in this case study is my own and does not necessarily reflect the views
        of CVS Health.
      </p>
    </div>
  </div>
</main>
