<main class="container-fluid">
  <div class="header-container">
    <button class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
    <img
      class="img-fluid"
      id="details-header-logo"
      src="assets/bofa_logo.png"
      alt="bofa logo"
    />
  </div>
  <div class="content-container">
    <div class="project-title mt-5">
      <h5>Reimagining Bank of America's BankAmeriDeals</h5>
    </div>
    <div class="project-sub-title mb-3">
      <p>
        Highlighting our innovative approach to enhancing BankAmeriDeals at Bank
        of America. Here's how we made a difference:
      </p>
    </div>
    <div class="project-detail-one">
      <div class="image-title mt-5 mb-2">
        <h6>Responsive Design and Gamification</h6>
      </div>
      <div class="project-body1">
        <p>
          As <strong>Lead Interaction Designer</strong>, I integrated
          <strong>responsive web design</strong> with
          <strong>gamification</strong> for an engaging desktop experience. This
          approach adapted seamlessly to various screen sizes and user
          interactions, making the platform more dynamic and user-friendly.<br /><br />

          Enhanced <strong>user testing and community pilots</strong>user
          testing and community pilots were pivotal in our strategy. By
          <strong>actively seeking feedback</strong>, we identified and
          addressed disparities between mobile and desktop experiences. This
          focus not only improved engagement but also made the user journey more
          intuitive.
        </p>

        <div class="image-container">
          <img
            class="img-fluid text-center"
            id="coins-diagram"
            src="assets/coins.png"
            alt="coin program diagram"
          />
        </div>
      </div>
      <div class="image-container">
        <img
          class="img-fluid text-center"
          id="messaging-diagram"
          src="assets/how-works.png"
          alt="how it works diagram"
        />
      </div>
      <div class="back-up mt-3">
        <a href="javascript:void(0)" (click)="scrollToTop()" style="text-decoration: none; color: #2779F6;">To Top</a>
      </div>
    </div>
  </div>
  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        In compliance with my non-disclosure agreement, I've removed and
        disguised confidential data from this case study. The views expressed
        here are solely mine and may not represent those of Bank of America.
      </p>
    </div>
  </div>
</main>
