<main class="container-fluid">
  <div class="header-container">
    <button class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
    <img
      class="img-fluid"
      id="details-header-logo"
      src="assets/cvs_logo.png"
      alt="cvs logo"
    />
  </div>
  <div class="content-container">
    <div class="project-title mt-5">
      <h5>Streamlining Clinic Check-ins</h5>
    </div>
    <div class="project-sub-title mb-3">
      <p>
        Embracing Innovation for Future Growth: Our recent initiative helped to
        transform the landscape of healthHUB clinic interactions. Here’s how we
        made a difference:
      </p>
    </div>
    <div class="project-detail-one">
      <div class="image-title mt-5 mb-2">
        <h6>Workflow diagrams: Tablet Integration</h6>
      </div>
      <img
        class="img-fluid"
        id="workflow-diagram"
        src="assets/workflow.png"
        alt="workflow diagram"
      />
      <div class="project-body1">
        <p>
          This flow diagram is an example of our iterative process,
          demonstrating how we integrated an
          <strong>API for tablet-based, web-driven technology</strong> to
          enhance pre-check-in authentication.<br /><br />

          It represents a
          <strong>secure, unified API login system across platforms</strong>,
          ensuring a cohesive and user-friendly tablet experience.
        </p>
      </div>
    </div>
    <div class="project-detail-two">
      <div class="image-title mt-5 mb-2">
        <h6>User scenarios: Mobile pre-check and check-in process</h6>
      </div>
      <img
        class="img-fluid"
        id="workflow-diagram"
        src="assets/scenario.png"
        alt="workflow diagram"
      />
      <div class="project-body">
        <p>
          Showcasing one of four user scenarios, this example illustrates the
          <strong>mobile</strong> customer journey model, with
          <strong>screen flows</strong> in context.<br /><br />

          It details how end users utilize <strong>mobile devices</strong> for a
          complete <strong>pre-check and check-in process</strong>,
          incorporating <strong>QR code interaction</strong>
          onsite for healthcare appointments.
        </p>
      </div>
    </div>
    <div class="back-up mt-3">
      <a href="javascript:void(0)" (click)="scrollToTop()">To Top</a>
    </div>
  </div>
  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        In compliance with my non-disclosure agreement, I've removed and
        disguised confidential data from this case study. The views expressed
        here are solely mine and may not represent those of CVS Health.
      </p>
    </div>
  </div>
</main>
