<app-navbar
  (toggle)="handleToggle($event)"
  (clearForm)="handleClearForm()"
></app-navbar>

<div *ngIf="showModal" class="modal-content">
  <!-- Hide this link when isEmailPage is true -->
  <a href="/recent-projects" class="text-link" *ngIf="!isEmailPage"
    >UX Portfolio</a
  >

  <!-- <a href="/recent-projects" class="text-link">Recent Projects</a> -->
  <a href="/email" class="btn btn-outline-primary" *ngIf="!isEmailPage"
    >Contact</a
  >
</div>

<router-outlet></router-outlet>

<app-footer></app-footer>
