<main class="container-fluid">
  <div class="header-container">
    <div class="company-content">
      <div class="company-title"><h5>FIDELITY INVESTMENTS</h5></div>
      <div class="company-sub-title">
        <p class="white-text">
          Throughout my tenure as a UX Lead at Fidelity, I've spearheaded
          multiple projects, including the creation of Fidelity Wealth Central
          for Registered Advisors and My Prime for hedge fund managers. My
          experience culminated in leading a significant Web Refresh for Wealth
          Central, advancing the platform's design and usability.
        </p>
      </div>
    </div>
  </div>
  <!-- Project 1 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h6>Fidelity Investments - Fidelity Wealth Central</h6>
      </div>
      <div class="project-sub-title">
        <p>
          Fidelity Wealth Central is a premium, responsive brokerage platform
          designed for Registered Advisors, which achieved new heights with the
          innovative Web Refresh.
        </p>
      </div>
      <div class="project-image">
        <img
          class="img-fluid"
          id="first-image"
          src="assets/trading.png"
          alt="Portal Project Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          In my role as UX Lead at Fidelity, I have been at the helm of pivotal
          projects, notably Fidelity Wealth Central and My Prime. My journey
          with these projects has been marked by a commitment to elevating user
          experience, culminating in the strategic Web Refresh of Wealth Central
          which significantly enhanced its design and functionality.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          Our user-centered design process is founded on rigorous iterative
          testing and continuous refinement. This meticulous approach has been
          the cornerstone of Wealth Central's progressive development, with each
          update aimed at optimizing the user interface and enriching
          functionality.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          The culmination of this project was the delivery of a suite of
          sophisticated desktop and mobile applications, hallmarked by their
          intuitive user experience.<br /><br />
          The successful execution of these deliverables resulted in a surge in
          user engagement and satisfaction, cementing Fidelity’s reputation as a
          trailblazer in the fintech industry.
        </p>
      </div>
    </div>
  </div>
  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        In compliance with my non-disclosure agreement, I've removed and
        disguised confidential data from this case study. The views expressed
        here are solely mine and may not represent those of Fidelity
        Investments.
      </p>
    </div>
  </div>
</main>
