<main class="container-fluid">
  <div class="header-container">
    <div class="company-content">
      <div class="company-title"><h5>FIDELITY</h5></div>
      <div class="company-sub-title">
        <p class="white-text">
          As Design Lead for <strong>Fidelity</strong>, I led key
          initiatives like <strong>Fidelity Wealth Central</strong> for Advisors
          and <strong>My Prime</strong> for hedge fund managers. My role peaked
          with a major Web Refresh for Wealth Central, enhancing its design and
          user experience.
        </p>
      </div>
    </div>
  </div>
  <!-- Project 1 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h6>Fidelity - Wealth Central Investment Platform</h6>
      </div>
      <div class="project-sub-title">
        <p>
          Transforming Wealth Central into Wealthscape with innovative advisory
          features.
        </p>
      </div>
      <div class="project-image text-center">
        <img
          class="img-fluid"
          id="first-image"
          src="assets/trading.png"
          alt="Portal Project Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          At Fidelity, as the UX Lead for Wealth Central, I championed the
          platform's evolution, culminating in a strategic Web Refresh that
          markedly improved its design and usability.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          Our user-centered design process was founded on rigorous iterative
          testing and continuous refinement. This meticulous approach was the
          cornerstone of Wealth Central's progressive development, with each
          update aimed at optimizing the user interface and enriching
          functionality.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          The culmination of this project was the delivery of a suite of
          sophisticated desktop and mobile applications, hallmarked by their
          intuitive user experience.<br /><br />

          The successful execution of these deliverables resulted in a surge in
          user engagement and satisfaction, cementing Fidelity’s reputation as a
          trailblazer in the fintech industry.
        </p>
        <div class="modal-link btn btn-primary" (click)="openDetailsModal()">See More</div>
      </div>
    </div>
  </div>
  <!-- Project 2 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h6>Fidelity - My Prime Progressive Web App</h6>
      </div>
      <div class="project-sub-title">
        <p>
          Creating a platform for hedge fund managers, optimizing securities
          lending and risk management.
        </p>
      </div>
      <div class="project-image">
        <img
          class="img-fluid"
          id="first-image"
          src="assets/prime.png"
          alt="Portal Project Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          For My Prime, another significant project, I immersed myself in the
          user environment by joining traders on the capital markets floor. This
          hands-on research was pivotal in developing an MVP that stands as a
          benchmark for next-generation progressive web applications.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          In our initial research and discovery, we delved into the traders'
          pain points with the help of third-party analysts and consultants,
          gaining a nuanced understanding. This knowledge, coupled with new
          technologies, has been instrumental in enhancing performance and
          refining the user interface to address their needs effectively with
          each successive update.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          Our deliverables included a functional prototype, informed by insights
          into traders' challenges and bolstered by new technology. This
          prototype has become a crucial tool for testing and refining the user
          experience, leading to tangible improvements in their daily
          performance.
        </p>
      </div>
    </div>
  </div>
  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        In compliance with my non-disclosure agreement, I've removed and
        disguised confidential data from this case study. The views expressed
        here are solely mine and may not represent those of Fidelity
        Investments.
      </p>
    </div>
  </div>
</main>
