.container-fluid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  background-color: #ecf0f1;
  padding: 40px;
  width: 100%;
  max-width: 500px;
  align-items: stretch;
  justify-content: center;
  height: 40vh;
  margin: 0 auto;
}
.form-container .form-control {
  width: 100%;
}
.form-section {
  margin-top: -50px;
}
#avatar {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  max-width: 150px;
}
.avatar-section {
  position: relative;
  z-index: 2;
  top: -40px;
}
.message-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
@media (max-width: 500px) {
  .form-headline h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .container-fluid {
    padding-bottom: 20px;
    height: 80vh;
    width: 100%;
  }
  .form-container {
    width: 90vw;
    padding: 20px;
  }
}
