* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h5 {
  font-family: Lalezar, sans-serif;
  font-size: 2.1rem;
  color: #ff4a60;
}
h6 {
  font-family: Lalezar, sans-serif;
  font-size: 1.6rem;
  color: #373461;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
.modal-link {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #2779f6;
  margin-top: 10px;
}
.modal-link:hover {
  cursor: pointer;
  color: #ef1ed1;
}
.disclaimer {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 0.8rem;
  color: #373461;
}
.company-sub-title p.white-text {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 300;
}
.company-sub-title strong {
  font-weight: bold;
}
.dark-text {
  color: #3f3d56;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #373461;
  width: 100vw;
  height: auto;
}
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
}
.project-title > h6 {
  color: #ff4a60;
}
.company-content {
  max-width: 800px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.project-content {
  max-width: 800px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
}
.project-image {
  display: flex;
  flex-direction: column;
}
#first-image {
  max-width: 300px;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
#second-image {
  max-width: 300px;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
#third-image {
  max-width: 300px;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.role-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f7;
  padding: 20px;
  width: 100vw;
  height: auto;
}
.role-content {
  max-width: 800px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.disclaimer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}
.disclaimer-text {
  max-width: 800px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .project-container {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .header-container,
  .role-container {
    padding: 25px;
  }
  .disclaimer-text {
    padding: 24px;
  }
}
@media (max-width: 450px) {
  #first-image {
    max-width: 260px;
  }
  #second-image {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }
  #third-image {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }
}
