<main class="container-fluid">
  <div class="header-container">
    <div class="company-content">
      <div class="company-title"><h5>BANK OF AMERICA</h5></div>
      <div class="company-sub-title">
        <p class="white-text">
          At Bank of America, I championed pivotal projects that marked a
          turning point in digital banking experiences—from revolutionizing the
          internal hiring system with a next-gen workforce portal, to innovating
          customer deals with responsive design and gamification, and enhancing
          the Advantage Banking service to seamlessly cater to a spectrum of
          banking needs across all platforms. Each project was a step towards
          setting new industry standards for technology and user engagement.
        </p>
      </div>
    </div>
  </div>
  <!-- Project 1 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h6>Bank of America - Next-Gen Workforce Portal</h6>
      </div>
      <div class="project-sub-title">
        <p>
          This forward-thinking initiative was aimed at revolutionizing Bank of
          America's internal hiring landscape. It was designed to meet the
          unique needs of the authenticated audience, setting new benchmarks in
          recruitment processes.
        </p>
      </div>
      <div class="project-image">
        <img
          class="img-fluid"
          id="first-image"
          src="assets/portal.png"
          alt="Portal Project Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          As the UX Lead, my focus was steadfastly user-centric. I spearheaded
          the creation of intuitive digital pathways for diverse bank roles and
          significantly enhanced the super admin experience to ensure a fluid
          and intuitive navigation journey.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          The process was deeply collaborative, involving the crafting and
          finetuning of digital solutions that catered to the specific workflows
          within the bank.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          I led the development and testing of innovative prototypes, engaging
          with super-admins, hiring managers, and recruiters through moderated
          user testing. The insights garnered were pivotal in refining our
          strategies and directly influenced the successful launch of a
          streamlined hiring platform.<br /><br />

          This platform not only struck a chord with our internal teams but also
          brought new efficiencies to our recruitment workflow.
        </p>
      </div>
    </div>
  </div>
  <!-- Project 2 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h6>Bank of America - BankAmeriDeals</h6>
      </div>
      <div class="project-sub-title">
        <p>
          BankAmeriDeals stands as a testament to Bank of America's commitment
          to incorporating responsive design with gamification, setting the
          stage for next-gen digital initiatives.
        </p>
      </div>
      <div class="project-image">
        <img
          class="img-fluid"
          id="second-image"
          src="assets/deals.png"
          alt="BofA Deals Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          In my role as Senior Interaction Designer, I championed the
          BankAmeriDeals project, pushing the boundaries of traditional banking
          experiences to innovate and ensure adaptability across user
          interfaces.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          Our process was immersive and collaborative. We designed prototypes
          with the future in mind, testing them with real users from the
          BankAmeriDeal gaming community. These moderated sessions provided us
          with critical insights, shaping a user experience that exemplified
          best practices in the field.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          The prototypes we crafted, though not currently in production,
          represent best practices and serve as blueprints for future digital
          breakthroughs.<br /><br />

          The feedback from our extensive user testing has been distilled into a
          strategic arsenal, ready to be deployed in upcoming projects that
          reflect our vision for BankAmeriDeals and beyond.
        </p>
      </div>
    </div>
  </div>
  <!-- Project 3 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h6>Bank of America - Bank of America Advantage Banking</h6>
      </div>
      <div class="project-sub-title">
        <p>
          Advantage Banking exemplifies Bank of America's dedication to seamless
          integration and customer enrichment, marrying streamlined interfaces
          with a rewards system that grants financial advantages to clients
          sustaining a $10,000 balance. This initiative has markedly advanced
          customer contentment and operational prowess.
        </p>
      </div>
      <div class="project-image">
        <img
          class="img-fluid"
          id="third-image"
          src="assets/advantage.png"
          alt="Advantage Banking Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          As the UX Lead for this transformative initiative, I orchestrated a
          harmony of strategy, collaboration, and execution.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          Working alongside teams from content strategy to engineering, we
          reimagined everyday banking.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          Our introductions of SafeBalance Banking® – a forward-thinking
          checkless system, Advantage Plus – which simplifies fee waivers, and
          Advantage Relationship – honoring those with higher balances, are
          testaments to our commitment to user-centric design and innovation.<br /><br />

          Together, we've ensured a consistent, intuitive experience across
          every touchpoint.
        </p>
      </div>
    </div>
  </div>
  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        To comply with my non-disclosure agreement, I have omitted and
        obfuscated confidential information in this case study. All information
        in this case study is my own and does not necessarily reflect the views
        of CVS Health.
      </p>
    </div>
  </div>
</main>
