<main class="container-fluid">
  <div class="header-container">
    <div class="company-content">
      <div class="company-title"><h5>BANK OF AMERICA</h5></div>
      <div class="company-sub-title">
        <p class="white-text">
          At Bank of America, I led pivotal projects transforming digital
          banking. I <strong>revamped the internal hiring system</strong> with a
          sophisticated workforce portal,
          <strong
            >integrated responsive design and gamification into customer
            deals</strong
          >, and <strong>enhanced the Advantage Banking service</strong> for
          varied needs on multiple platforms. These initiatives set new
          standards in tech and user experience.
        </p>
      </div>
    </div>
  </div>
  <!-- Project 3 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h6>Bank of America - Advantage Banking</h6>
      </div>
      <div class="project-sub-title">
        <p>
          Merging UX redesign with Advantage Checking Enhanced at Bank of
          America, elevating banking experiences.
        </p>
      </div>
      <div class="project-image">
        <img
          class="img-fluid"
          id="third-image"
          src="assets/advantage.png"
          alt="Advantage Banking Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          As UX Lead, I steered our initiative, harmonizing strategy, execution,
          and cross-team unity to redefine the banking experience, with a keen
          focus on enhancing the authenticated customer account view.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          Our collaborative journey spanned disciplines from content strategy to
          engineering. Our mission: to not only reimagine everyday banking but
          also to refine the messaging strategy, ensuring a seamless and
          intuitive account view for authenticated customers.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          Under my direction, the Advantage Banking Project rolled out
          transformative features: SafeBalance Banking®, Advantage Plus, and
          Advantage Relationship. Implemented on both the app and web, these
          efforts boosted the authenticated customer experience with a focus on
          user-centric design. For a comprehensive look at the impact and my
          approach,
          <a href="assets/case_study_banking.pdf" target="_blank"
            >view the Case Study here (PDF)</a
          >
          —highlighting our commitment to innovation.
        </p>
        <div class="modal-link btn btn-primary" (click)="openDetailsModal()">
          See More
        </div>
      </div>
    </div>
    <div class="project-container">
      <div class="project-content">
        <div class="project-title">
          <h6>Bank of America - BankAmeriDeals Revamp</h6>
        </div>
        <div class="project-sub-title">
          <p>
            Leading the BankAmeriDeals project, I focused on unifying the
            responsive web experiences to enhance consistency and user
            engagement in our community.
          </p>
        </div>
        <div class="project-image">
          <img
            class="img-fluid"
            id="second-image"
            src="assets/deals.png"
            alt="BofA Deals Illustration"
          />
        </div>
      </div>
      <div class="role-container">
        <div class="role-content">
          <div class="role-title"><h6>MY ROLE</h6></div>
          <p class="dark-text">
            As the Senior Interaction Designer and de facto Experience
            Architect, my role in the BankAmeriDeals project involved
            harmonizing responsive design with gamification elements, elevating
            the user interface of our cash back rewards program.
          </p>
        </div>
        <div class="role-content">
          <div class="role-title"><h6>PROCESS</h6></div>
          <p class="dark-text">
            Our method was hands-on and team-oriented, developing prototypes and
            gleaning insights from real user testing within the BankAmeriDeal
            community.
          </p>
        </div>
        <div class="role-content">
          <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
          <p class="dark-text">
            Our work on BankAmeriDeals has led to prototypes that set benchmarks
            for digital innovation, with key features now in production. The
            user feedback collected continues to inform strategic enhancements,
            steadily shaping the evolution of BankAmeriDeals.
          </p>
          <div class="modal-link btn btn-primary" (click)="openDetails2Modal()">
            See More
          </div>
        </div>
      </div>
    </div>
    <!-- Project 1 starts here ----- -->
    <div class="project-container">
      <div class="project-content">
        <div class="project-title">
          <h6>Bank of America - Next-Gen Workforce Portal</h6>
        </div>
        <div class="project-sub-title">
          <p>
            Revamping Bank of America's recruitment process with innovative
            design solutions.
          </p>
        </div>
        <div class="project-image">
          <img
            class="img-fluid"
            id="first-image"
            src="assets/portal.png"
            alt="Portal Project Illustration"
          />
        </div>
      </div>
      <div class="role-container">
        <div class="role-content">
          <div class="role-title"><h6>MY ROLE</h6></div>
          <p class="dark-text">
            I championed the 'Revamping Recruitment' project at Bank of America,
            where design and experience architecture were key in refining our
            internal hiring process. My efforts focused on optimizing digital
            navigation for banking roles and enhancing the super admin
            experience with a tailored dashboard for efficient tracking and
            notifications.
          </p>
        </div>
        <div class="role-content">
          <div class="role-title"><h6>PROCESS</h6></div>
          <p class="dark-text">
            The collaborative and research-driven development process was guided
            by user feedback to ensure practical and user-friendly design
            solutions.
          </p>
        </div>
        <div class="role-content">
          <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
          <p class="dark-text">
            Leading the prototype development and user testing, I centered our
            design on the real-world needs of hiring managers and super admins.
            The updated platform has since streamlined recruitment processes and
            received positive internal feedback for its improved efficiency and
            user experience.
          </p>
        </div>
      </div>
    </div>
    <!-- ....... -->
  </div>
  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        In compliance with my non-disclosure agreement, I've removed and
        disguised confidential data from this case study. The views expressed
        here are solely mine and may not represent those of Bank of America.
      </p>
    </div>
  </div>
</main>
