<main class="container-fluid">
  <div class="header-container">
    <button class="close-button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
    <img
      class="img-fluid"
      id="details-header-logo"
      src="assets/aetna_logo.png"
      alt="aetna logo"
    />
  </div>
  <div class="content-container">
    <div class="project-title mt-5">
      <h5>Revamping Rewards Experience</h5>
    </div>
    <div class="project-sub-title mb-3">
      <p>
        Highlighting our strategic innovation at Aetna. Here’s how we made a
        difference:
      </p>
    </div>
    <div class="project">
      <div class="image-title mt-5 mb-2">
        <h6>Transforming Aetna's Rewards with Fitness Merchandise</h6>
      </div>
      <img
        class="img-fluid"
        id="workflow-diagram"
        src="assets/rewards-watch.png"
        alt="fitness watch"
      />
      <p class="dark-text mt-5 mb-5">
        The inclusion of <strong>fitness merchandise</strong> in Aetna's rewards
        program marked a shift from gift cards to diverse fitness products. Our
        <strong>UX team</strong> revamped the mobile-friendly rewards homepage,
        broadening options and simplifying checkout.<br /><br />
        With plans to expand <strong>fitness offerings in 2024</strong>, this
        underscores Aetna's commitment to evolving with
        <strong>customer needs</strong> while also leveraging
        <strong>external APIs</strong> to ensure a
        <strong>seamless shopping experience</strong>, even for items beyond our
        control.
      </p>
      <img
        class="img-fluid"
        id="workflow-diagram"
        src="assets/fit-1.png"
        alt="fitness order diagram"
      />
      <img
        class="img-fluid mt-3"
        id="workflow-diagram"
        src="assets/fit-2.png"
        alt="fitness order diagram"
      />
      <img
        class="img-fluid mt-3"
        id="workflow-diagram"
        src="assets/fit-3.png"
        alt="fitness order diagram"
      />
    </div>
    <div class="back-up mt-3">
      <a href="javascript:void(0)" (click)="scrollToTop()">To Top</a>
    </div>
  </div>
  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        In compliance with my non-disclosure agreement, I've removed and
        disguised confidential data from this case study. The views expressed
        here are solely mine and may not represent those of Aetna.
      </p>
    </div>
  </div>
</main>
