<main class="container-fluid">
  <div class="form-container">
    <!-- Displayed on larger screens -->
    <embed
      class="large-screen"
      src="assets/resume.pdf#toolbar=0&navpanes=0"
      type="application/pdf"
      width="100%"
      height="600px"
    />

    <!-- Displayed on smaller screens -->
    <img src="assets/resume-1.png" class="small-screen" alt="Resume page 1" />
    <img src="assets/resume-2.png" class="small-screen" alt="Resume page 2" />

    <div class="mt-5">
      <a
        href="assets/resume.pdf"
        download="Julie_Resume.pdf"
        class="btn btn-outline-primary"
        >Download Resume</a
      >
    </div>
  </div>
</main>

