.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

embed {
  border: none;
  margin: 0;
  padding: 0;
  display: block;
}

@media (max-width: 1000px) {
  embed {
    width: 100%;
  }
}
