.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 90%;
  max-width: 1000px;
}
p {
  font-size: 4rem;
}
@media (max-width: 1000px) {
  embed {
    width: 100%;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 3rem;
  }
}
@media (max-width: 480px) {
  p {
    font-size: 2rem;
  }
}
