<main class="container-fluid">
  <div class="header-container">
    <div class="company-content">
      <div class="company-title"><h5>CVS HEALTH</h5></div>
      <div class="company-sub-title">
        <p class="white-text">
          At CVS Health, I pioneered the use of Android tablets and QR codes,
          revolutionizing precheck-in kiosks. My design of a journey map
          workshop template elevated executive strategy sessions, capturing
          pivotal healthcare insights.
        </p>
      </div>
    </div>
  </div>
  <!-- Project 1 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h6>CVS Health - Kiosk PreCheck-in Experience</h6>
      </div>
      <div class="project-sub-title">
        <p>
          A transformative approach to enhancing the patient precheck-in
          journey.
        </p>
      </div>
      <div class="project-image">
        <img
          class="img-fluid"
          id="kiosk-image"
          src="assets/kiosk.png"
          alt="Tech Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          As the Design Lead, I spearheaded the integration of traditional kiosk
          usage into a full-fledged web experience.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          By creating adaptive workflows, we catered to all users, including
          those without mobile phones. I introduced QR code functionality for a
          streamlined pre-check, ensuring the user experience was consistent on
          10-inch Android tablets.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          Through strategic collaborations, we seamlessly blended classic
          check-in practices with our new web-centric approach.
        </p>
      </div>
    </div>
  </div>
  <!-- Project 2 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h6>CVS Health - Journey Map Workshop Template</h6>
      </div>
      <div class="project-sub-title">
        <p>
          A pioneering initiative focused on elevating care management through a
          meticulously crafted tool capturing real-world patient experiences.
        </p>
      </div>
      <div class="project-image">
        <img
          class="img-fluid"
          id="journey-image"
          src="assets/journey-map.png"
          alt="Tech Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          As the UX Lead, I steered the synthesis of insights from a range of
          stakeholders, including Commercial members and CVS care teams.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          This comprehensive approach catered to the unique needs of all, from
          regular members to those transitioning to prospective Medicare plans.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          With these insights, I designed a versatile Journey Map template. More
          than just a discussion starter in workshops, this template set a
          foundational tone, fostering the development of high fidelity journey
          maps pivotal for leadership insights.<br /><br />
          Ultimately, this wasn’t just a standalone project—it became a
          cornerstone, shaping strategies across the entire Health Portfolio.
        </p>
      </div>
    </div>
  </div>
  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        To comply with my non-disclosure agreement, I have omitted and
        obfuscated confidential information in this case study. All information
        in this case study is my own and does not necessarily reflect the views
        of CVS Health.
      </p>
    </div>
  </div>
</main>
