<main class="container-fluid">
  <div class="header-container">
    <div class="company-content">
      <div class="company-title"><h4>CVS HEALTH</h4></div>
      <div class="company-sub-title">
        <p class="white-text">
          As a UX Design Lead, I spearheaded the shift to a
          <strong>web-based in-clinic system</strong>, enhancing user interfaces
          and workflow efficiency. I also developed a
          <strong>journey map workshop template</strong>, crucial in shaping our
          healthcare strategy.
        </p>
      </div>
    </div>
  </div>
  <!-- Project 1 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h5>CVS Health - Streamlining Clinic Check-ins</h5>
      </div>
      <div class="project-sub-title">
        <p>
          Revolutionizing the patient check-in process, enhancing healthcare
          efficiency.
        </p>
      </div>
      <div class="project-image">
        <img
          class="img-fluid"
          id="kiosk-image"
          src="assets/kiosk.png"
          alt="Tech Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          As a Design Lead, I played a key role in integrating traditional
          check-in methods with a streamlined digital web-based experience.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          We developed adaptable workflows to accommodate all users, even those
          without mobile devices, by integrating digital features that
          streamlined the pre-check-in process, ensuring a consistent user
          experience on 10-inch tablets.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          Through strategic collaboration, we successfully merged conventional
          check-in practices with our innovative digital approach, resulting in
          improved efficiency and enhanced patient satisfaction.
        </p>
        <div class="modal-link" (click)="openDetailsModal()">Learn more...</div>
      </div>
    </div>
  </div>
  <!-- Project 2 starts here ----- -->
  <div class="project-container">
    <div class="project-content">
      <div class="project-title">
        <h5>CVS Health - Journey Map Template Redesign</h5>
      </div>
      <div class="project-sub-title">
        <p>Empowering Care Management and Healthcare Initiatives</p>
      </div>
      <div class="project-image">
        <img
          class="img-fluid"
          id="journey-image"
          src="assets/journey-map.png"
          alt="Tech Illustration"
        />
      </div>
    </div>
    <div class="role-container">
      <div class="role-content">
        <div class="role-title"><h6>MY ROLE</h6></div>
        <p class="dark-text">
          As the UX Lead at CVS Health, I facilitated the synthesis of insights
          from various stakeholders, including Commercial members and CVS care
          teams.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>PROCESS</h6></div>
        <p class="dark-text">
          Our comprehensive approach addressed the unique needs of all members,
          from regular members to those transitioning to prospective Medicare
          plans.
        </p>
      </div>
      <div class="role-content">
        <div class="role-title"><h6>DELIVERABLES & OUTCOMES</h6></div>
        <p class="dark-text">
          From these insights, I designed a versatile Journey Map template. It
          went beyond being a workshop starter, setting the foundation for
          high-fidelity journey maps crucial for leadership insights.<br /><br />

          This project became a cornerstone, shaping strategies across the
          entire Health Portfolio, empowering care management, and advancing
          healthcare initiatives.
        </p>
        <div class="modal-link" (click)="openDetails2Modal()">Learn more...</div>
      </div>
    </div>
  </div>
  <div class="disclaimer-container">
    <div class="disclaimer-text">
      <p class="disclaimer">
        In compliance with my non-disclosure agreement, I've removed and
        disguised confidential data from this case study. The views expressed
        here are solely mine and may not represent those of CVS Health.
      </p>
    </div>
  </div>
</main>
