<main class="container-fluid">
  <div class="project-container">
    <section>
      <h1 class="page-title mb-3">CVS Health - Recent Projects:</h1>
    </section>
    <section>
      <h2 class="title">HealthHUB Kiosk PreCheck-in Experience</h2>
      <p class="description mb-3">
        As the UX Lead at CVS Health, I spearheaded a transformative redesign of
        the kiosk pre-check-in experience, leveraging Android tablets and QR
        codes to optimize patient satisfaction and streamline healthcare
        processes.
      </p>
    </section>
    <section class="image-container">
      <figure>
        <img
          class="img-fluid"
          id="tech-image"
          src="assets/kiosk-1.jpeg"
          alt="Tech illustration"
        />
      </figure>
      <figure>
        <img
          class="img-fluid"
          id="tech-image"
          src="assets/kiosk-2.jpeg"
          alt="Tech illustration"
        />
      </figure>
    </section>
  </div>
  <div class="project-container2">
    <section>
      <h2 class="title">Kiosk PreCheck-in - UX: Revamp</h2>
      <p class="description mb-3">
        In this project at CVS Health, I optimized patient check-ins by
        transitioning to a web-based system using Android tablets and QR codes,
        enhancing User Flow Diagrams and Journeys.
      </p>
    </section>
    <section class="image-container2">
      <figure>
        <img
          class="img-fluid mb-3"
          id="tech-image"
          src="assets/kiosk-ux-1.png"
          alt="Tech illustration"
        />
      </figure>
      <figure>
        <img
          class="img-fluid"
          id="tech-image"
          src="assets/kiosk-ux-2.png"
          alt="Tech illustration"
        />
      </figure>
    </section>
  </div>
</main>
