body,
a {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
p {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    font-family: 'Open Sans', sans-serif;
}

.button-div {
    margin-top: 45px;
    margin-bottom: 20px;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    max-width: 1020px;
}

.vertical-center {
    text-align: center;
}

.title {
    margin-top: 80px;
    text-align: left;
}

.social-icons i {
    color: #000;
    font-size: 24px;
}

.link {
    margin-left: 20px;
}

.text-container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(223, 228, 234,1.0);
}

.image-container {
    margin-top: 30px;
}

.btn.btn-custom {
    background-color: transparent;
    border: none;
    color: #000;
    /* Set link font color to black */
}