<div class="container-fluid">
    <div class="vertical-center">
        <div class="container-fluid">
            <div class="vertical-center">
                <div class="content-container">
                    <div class="dropdown">

                        <div class="link-container">
                            <div class="about-me-link">
                                <button class="btn btn-secondary btn-custom" type="button">
                                   About Me
                                </button>
                                
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btn-custom" type="button" id="link1Dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    CVS Health
                                </button>
                                <div class="dropdown-menu" aria-labelledby="link1Dropdown">
                                    <a class="dropdown-item" href="#">Submenu 1.1</a>
                                    <a class="dropdown-item" href="#">Submenu 1.2</a>
                                    <a class="dropdown-item" href="#">Submenu 1.3</a>
                                </div>
                            </div>
                        
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btn-custom" type="button" id="link2Dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Bank of America
                                </button>
                                <div class="dropdown-menu" aria-labelledby="link2Dropdown">
                                    <a class="dropdown-item" href="#">Submenu 2.1</a>
                                    <a class="dropdown-item" href="#">Submenu 2.2</a>
                                    <a class="dropdown-item" href="#">Submenu 2.3</a>
                                </div>
                            </div>
                        
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btn-custom" type="button" id="link3Dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Retail
                                </button>
                                <div class="dropdown-menu" aria-labelledby="link3Dropdown">
                                    <a class="dropdown-item" href="#">Submenu 3.1</a>
                                    <a class="dropdown-item" href="#">Submenu 3.2</a>
                                    <a class="dropdown-item" href="#">Submenu 3.3</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btn-custom" type="button" id="link3Dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    BCBS MA
                                </button>
                                <div class="dropdown-menu" aria-labelledby="link3Dropdown">
                                    <a class="dropdown-item" href="#">Submenu 3.1</a>
                                    <a class="dropdown-item" href="#">Submenu 3.2</a>
                                    <a class="dropdown-item" href="#">Submenu 3.3</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle btn-custom" type="button" id="link3Dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    iVest
                                </button>
                                <div class="dropdown-menu" aria-labelledby="link3Dropdown">
                                    <a class="dropdown-item" href="#">Submenu 3.1</a>
                                    <a class="dropdown-item" href="#">Submenu 3.2</a>
                                    <a class="dropdown-item" href="#">Submenu 3.3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="title">Julie Westman, Sr. UX Professional</h3>
                
                    <p class="text-container">I'm an experienced UX professional with a diverse background spanning Healthcare, Finance,
                        Retail, and more.
                        Known for my collaborative nature, design skills, and technical expertise, I excel in leadership
                        and
                        strategy. Beyond work, I'm passionate about design, sports like tennis and sailing, and savoring
                        life's
                        finest moments with our Goldendoodles Coco and Chanel. 🎾⛵🍷🔥</p>
                    <div class="button-div">
                        <button type="button" class="btn btn-secondary">Let's Connect</button>
                    </div>
                    <div class="social-icons">
                        <a href="#" class="btn btn-link"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="btn btn-link"><i class="bi bi-linkedin"></i></a>
                        <a href="#" class="btn btn-link"><i class="bi bi-envelope"></i></a>
                    </div>
                    <div class="image-container">
                        <div class="image-container">
                            <img src="assets/hero-img.png" alt="Hero Image">
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
